* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;

	font-family: 'Source Code Pro', monospace;
}

canvas {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
}
